<div class="container">
    <form action="">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tarefa</mat-label>
            <input type="text" [(ngModel)]="tarefa.nometarefa" name="nometarefa" matInput placeholder="Ex. Tarefa">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Descrição</mat-label>
            <input type="text" [(ngModel)]="tarefa.descricao" name="descricao" matInput placeholder="Ex. Descrição">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Data conclusão</mat-label>
            <input type="date" matInput [(ngModel)]="tarefa.dataconcluido" name="dataconcluido" placeholder="Ex. Data conclusão">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Prioridade</mat-label>
            <select matNativeControl [(ngModel)]="tarefa.prioridade" name="car">
              <option value="" *ngFor="let item of selectPrioridade ; let x = index" [value]="x">{{item}}</option>
            </select>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Observação</mat-label>
            <input type="text" [(ngModel)]="tarefa.observacao" name="observacao" matInput placeholder="Ex. Observação">
          </mat-form-field>

          <button type="submit" (click)="criartarefa()">Criar Tarefa</button>
          <!--<button mat-raised-button color="accent">Accent</button>-->
    </form>
</div>