<div class="container">
    <div class="logo">
        <img src="../../../assets/sgtNovo.png" alt="">
    </div>
    <div class="pesquisar">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Pesquisar</mat-label>
              <input type="pesquisar" matInput placeholder="Pesquisar Tarefa">
            </mat-form-field>
          </form>
    </div>
    <div class="perfil">
        <img src="assets/img/perfil.jpeg" alt="foto">
    </div>
</div>