<div class="container">

    <div class="popupaceitar" id="popupaceitar" *ngIf="aceitar">
        <form action="">
            <div class="popupbtnaceitar">
                <div class="popupvalor">
                    <label for="">Tarefa: </label>
                    <input type="text" [(ngModel)]="tarefa.nometarefa" name="nometarefa">
                </div>
    
                <div class="popupvalor">
                    <label for="">Descrição: </label>
                    <input type="text" [(ngModel)]="tarefa.descricao" name="descricao" disabled>
                </div>
    
                <div class="popupvalor">
                    <label for="">Data de Criação: </label>
                    <input type="date" [(ngModel)]="tarefa.datacriacao" name="datacriacao" disabled>
                </div>
    
                <div class="popupvalor">
                    <label for="">Status: </label>
                    <input type="text" [(ngModel)]="tarefa.status" name="status" disabled>
                </div>
    
                <div class="popupvalor">
                    <label for="">Observação: </label>
                    <input type="text" [(ngModel)]="tarefa.observacao" name="observacao" disabled>
                </div>
    
                <div class="popupbtn">
                    <button id="aceitar" type="submit" (click)="submit()" mat-stroked-button color="accent">Aceitar</button>
                    <button id="cancelar" mat-stroked-button color="warn" (click)="btnaceitar()">Cancelar</button>
                </div>
            </div>
        </form>        
    </div>

    <div class="acompanhamento">
        <div class="tarefa" id="pendente"> <mat-icon>schedule</mat-icon> Pendentes</div>
        <div class="tarefa" id="andamento"> <mat-icon>schedule</mat-icon> Em andamento</div>
        <div class="tarefa" id="concluido"> <mat-icon>done</mat-icon> Concluidas</div>
        <div class="tarefa" id="cancelado"> <mat-icon>close</mat-icon> Cancelado</div>
    </div>


    <!-- Tabela para acompanhamento das tarefas -->
    <div class="acompanhamentolist">

        <div class="listtarefas">
            <div *ngFor="let item of tarefas">
                <div class="tarefas" *ngIf="item.status == '0'">

                    <div class="label">
                        <h1>{{item.nometarefa}}</h1>
                    </div>

                    <div class="descricao">
                        <h2>{{item.descricao}}</h2>
                    </div>

                    <div class="datas">
                        <div class="andamento">
                            <label for="">Data criação</label>
                            <input type="date" value="{{item.datacriacao}}" disabled>
                        </div>
                        <div class="andamento" *ngIf="item.datarecebimento != null">
                            <label for="">Data recebido</label>
                            <input type="date" value="{{item.datarecebimento}}" disabled>
                        </div>
                        <div class="andamento"></div>
                        
                    </div>

                    <div class="aceitar btaceitar">
                        <button type="button" (click)="finById(item.id)"><mat-icon>double_arrow</mat-icon></button>
                    </div>

                </div>
            </div>
        </div>

        <div class="listtarefas">
            <div *ngFor="let item of tarefas">
                <div class="tarefas" *ngIf="item.status == '1'">

                    <div class="label">
                        <h1>{{item.nometarefa}}</h1>
                    </div>

                    <div class="descricao">
                        <h2>{{item.descricao}}</h2>
                    </div>

                    <div class="datas">
                        <div class="andamento">
                            <label for="">Data criação</label>
                            <input type="date" value="{{item.datacriacao}}" disabled>
                        </div>
                        <div class="andamento" *ngIf="item.datarecebimento != null">
                            <label for="">Data recebido</label>
                            <input type="date" value="{{item.datarecebimento}}" disabled>
                        </div>
                        <div class="andamento"></div>
                        
                    </div>

                </div>
            </div>
        </div>

        <div class="listtarefas">
            <div *ngFor="let item of tarefas">
                <div class="tarefas" *ngIf="item.status == '2'">

                    <div class="label">
                        <h1>{{item.nometarefa}}</h1>
                    </div>

                    <div class="descricao">
                        <h2>{{item.descricao}}</h2>
                    </div>

                    <div class="datas">
                        <div class="andamento">
                            <label for="">Data criação</label>
                            <input type="date" value="{{item.datacriacao}}" disabled>
                        </div>
                        <div class="andamento" *ngIf="item.datarecebimento != null">
                            <label for="">Data recebido</label>
                            <input type="date" value="{{item.datarecebimento}}" disabled>
                        </div>
                        <div class="andamento" *ngIf="item.dataconcluido != null">
                            <label for="">Data concluida</label>
                            <input type="date" value="{{item.dataconcluido}}" disabled>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="listtarefas">
            <div *ngFor="let item of tarefas">
                <div class="tarefas" *ngIf="item.status == '3'">
                    <h1>{{item.nometarefa}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>