.container{
    width: 100%;
    height: 76vh;
}

.acompanhamentolist{
    overflow: auto;
    height: 63vh;
}

.container .tarefa, .listtarefas{
    width: 23%;
    padding: 0px;
}

.container .acompanhamento, .container .acompanhamentolist{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.acompanhamento .tarefa{
    display: flex;
    align-items: center;
    color: #1f1f24;
    border-bottom: 2px solid #1f1f24;
    font-weight: 600;
    height: 25px;
    gap: 6px;
}

.listtarefas .tarefas{
    border-radius: 5px;
    box-shadow: 0px 0px 6px #9e9e9e;
    margin-bottom: 10px;
    display: grid;
    padding: 6px;
    cursor: pointer;
    background-color: white;
}

.tarefas h1{
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0;
}

.tarefas .label{
    padding: 0;
    margin: 0;
}

.tarefas .descricao{
    margin-top: 10px;
}

h2, h3{
    padding: 0;
    margin: 0;
}

h2{
    margin-top: -10px;
    font-size: 10px;
}


#pendente mat-icon{
    color: yellow;
    font-weight: bold;
}

#andamento mat-icon{
    color: green;
    font-weight: bold;
}



#concluido mat-icon{
    color: green;
    font-weight: bold;
}

#cancelado mat-icon{
    color: red;
    font-weight: bold;
}

.listtarefas .datas{
    display: flex;
    justify-content: space-between;
}

.datas .andamento{
    width: 33%;
}

.andamento input, .andamento label{
    padding: 0;
    margin: 0;
    font-size: 10px;
    border: none;
}

.andamento input{
    margin-top: -50px;
    margin: 0;
    padding: 0;
}

.andamento label{
    color: green;
    margin-bottom: -10px;
}

.aceitar{
    display: flex;
    justify-content: end;
    align-items: center;
}

.aceitar button{
    border: none;
    background-color: white;
    cursor: pointer;
    transition: 1s;
}

button:hover{
    transform: scale(1.5);
    transition: 1s;
}

.btaceitar mat-icon{
    color: green;
}

.popupaceitar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.600);
    display: flex;
    justify-content: center;
    align-items: center;
}

 .popupbtnaceitar{
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 10px #828282;
    border-radius: 10px;
    padding: 10px;
}

.popupbtnaceitar a:hover{
    transform: scale(1.3);
    transition: 1s;
}

.popupvalor label{
    font-weight: bold;
}

.popupvalor input{
    border: none;
}

.popupbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 1rem;
}

.popupbtn button:hover{
    transform: scale(1.3);
}

.popupbtnaceitar .popupvalor{
    margin-bottom: 10px;
}

.popupvalor input{
    width: 100%;
}