<div class="container">

    <div class="dados">
        <div class="info">Info lider</div>
        <div class="info">Equipe nas tarefas</div>
    </div>
    <div class="pesquisar">
        <input type="text" placeholder="Pesquisar">
    </div>
    <div class="acompanhamento">
        <div class="tarefa" id="andamento">Em andamento</div>
        <div class="tarefa" id="pausado">Pausado</div>
        <div class="tarefa" id="concluido">Concluido</div>
        <div class="tarefa" id="cancelado">Cancelado</div>
    </div>
</div>